body{
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
}

.wrapp{
    display: flex;
    width: 800px;
    height: 900px;
    background-color: azure;
    align-items: center;
    flex-direction: column;

}

#insertarTarea{

}

#editarTarea{
    position: relative;
}

h1{
    display: flex;
    width: 100%;
    justify-content: center;
}

form{
    display: flex;
    width: 400px;
    
}

form input[type="text"]{
    width: 500px;
    height: 40px;
    border: 2px solid black;
    padding-left: 0.5rem;

}

form input[type="submit"]{
    border: 2px solid black;

}

#lista{
    display: flex;
    width: 400px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tarea{
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.tarea label form{
width: 3rem;

}

.tarea label form input[type="submit"]{
    width: 1.3rem;
    cursor: pointer;
    
    }

label{
    display: flex;
    width: 400px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    font-size: 15px;
    border: 2px solid black;
    justify-content: space-around;
}

label input[type="checkbox"]{
    display: flex;
    width: 50px;
    height: 20px;
}

#editarTarea{
    display: flex;
}

.hidden{
    position: absolute !important;
    top: -150px !important;
    transition: all 1s;
}



.green{
    background-color: green !important;
    color: green !important;
}

.red{
    background-color: red !important;
    color: red !important;
}


.tarea label .editarTarea img{
    width: 0.8rem !important;
    
}

.tarea label .borrarTarea img{
        width: 0.8rem !important;
        
}

.tarea label .actionButtons button{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.tarea label .actionButtons{
    display: flex;
    justify-content: center;
}

.editFormContainer{
    display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 1rem;
        position: absolute;
        top: 30px;
        transition: all 1s;
        border: 4px solid black;
}

.editFormContainer .close{
    display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
}






.deleteFormContainer{
    display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 1rem;
        position: absolute;
        top: 30px;
        transition: all 1s;
        border: 4px solid black;
}

.deleteFormContainer .close{
    display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
}

.deleteFormContainer form{
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.deleteFormContainer span{
    font-size: 25px;
    width: 10rem;
}



#lista .tarea label form, span, div{
    width: 33.3333333%;
    display: flex;
    justify-content: center;
}

.editFormContainer .Form{
    width: 100%;
}

.editFormContainer .Form form span{
    width: 100%;
}

.editFormContainer{
    width: 25rem !important;
}


.editFormContainer .close{
    width: 100%;
}

.deleteFormContainer .Form{
    width: 100%;
}

.deleteFormContainer .close{
    width: 100%;
}

.deleteFormContainer input{
    font-size: 20px;
}

.deleteFormContainer{
    width: 25rem !important;
}
